{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/aerial-view-vang-vieng-with-mountains-balloon-sunset.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading"></span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
          <h1>Hey there! 👋</h1>
        <p>
        I’m Darshil, and this blog is a little corner of the internet where I share things I love—whether it’s .Technology, Space , Internet ,Reading Books and Many more.
        I started this blog to express myself and connect with people who have similar interests. Everything you read here comes from my personal experiences, curiosity, and passion for learning.
        If you enjoy my content, feel free to stick around—you’re always welcome here 😊
        </p>
        <p>
        </p>
        <p>
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
